body{
  display:flex;
  justify-content: center;
}

#superWrap{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

#headerWrap{
  width: 100%;
  display:flex;
  flex-direction: row;
  border-top: 1px dotted gray;
  margin-bottom: 30px;

  #logo{
    width: 60%;
    padding-right: 10px;
    border-right: 1px solid gray;
    margin: 5px 0px;
  }

  #headerText{
    width: 40%;
    padding-left: 20px;
    margin: 5px 0px;
  }
}

#staticImage{
  margin-top: 30px;
}

#contentWrap{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: space-between;
  width: 100%;

  margin-top: 60px;
  
  .cardWrap{
    width: 30%;
  
    img {
      height: 200px;
    }
    
    .image {
      width: 100%;
      object-fit: cover;
    }
  }
  
}