<form action="/gallery/{{id}}?_method=PUT" method="POST">
  <input type="text" name='author' value="{{author}}">
  <input type="text" name='link' value="{{link}}">
  <input type="text" name='description' value="{{description}}">
  <button type='submit'>Submit</button>
</form>