<img src="http://www.dessign.net/architekttheme/wp-content/uploads/architekt21-959x349.jpg" alt="" id="staticImage">
<div id='contentWrap'>
  {{#each listing}}
  <div class='cardWrap'>
    <img src="{{link}}" alt="" class = 'image'>
    <div class="text">
      <div class="author">{{author}}</div>
      <div class="link">{{link}}</div>
    </div>
  </div>
  {{/each}}
</div>