<form action="/gallery" method="POST">
  <input type="text" name='author' placeholder="author">
  <input type="text" name='link' placeholder="link">
  <input type="text" name='description' placeholder="description">
  <button type='submit'>Submit</button>
</form>