<div id="headerWrap">
  <img src="http://www.dessign.net/architekttheme/wp-content/uploads/logo.jpg" alt="" id="logo">
  <div id="headerText">Welcome to our online portfolio, we are small group of passionate designers and architects, looking to change and create amazing digital images to inspire others to follow in our innovative steps. Free Architect WordPress Theme</div>
</div>