body {
  display: flex;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: gray;
  background-image: url("/assets/cubes.png");
}

#indexWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#indexWrap #indexLogo {
  width: 90%;
}

#errorWrap {
  display: flex;
  flex-direction: column;
}

#superWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
}

@media only screen and (max-width: 414px) {
  #superWrap {
    width: 85%;
  }
}

#headerWrap {
  width: 100%;
  display: flex;
  flex-direction: row;
  border-top: 2px dotted lightgrey;
  margin-bottom: 30px;
  margin-top: 35px;
  padding-top: 10px;
}

@media only screen and (max-width: 414px) {
  #headerWrap {
    border: none;
    margin-bottom: 15px;
    margin-top: 35px;
    padding-top: 0;
  }
}

#headerWrap #logo {
  height: 100%;
  width: 70%;
  padding-right: 10px;
  border-right: 2px solid lightgray;
  margin: 5px 0px;
}

@media only screen and (max-width: 414px) {
  #headerWrap #logo {
    border: none;
    width: 100%;
  }
}

#headerWrap #headerText {
  width: 30%;
  padding-left: 20px;
  margin: 5px 0px;
}

@media only screen and (max-width: 414px) {
  #headerWrap #headerText {
    display: none;
  }
}

#staticImage {
  margin-top: 30px;
  width: 100%;
  padding-bottom: 30px;
}

@media only screen and (max-width: 414px) {
  #staticImage {
    margin-top: 15px;
    padding: 0;
  }
}

#contentWrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding-top: 10px;
}

@media only screen and (max-width: 414px) {
  #contentWrap {
    flex-direction: column;
    border-top: 2px dotted gray;
    margin-top: 10px;
    padding: 0;
    align-items: center;
  }
}

#contentWrap .cardWrap {
  width: 30%;
  height: 300px;
  overflow: hidden;
  margin: 20px 0px;
  padding: 40px 10px 0px 10px;
  border-top: 1px dotted gray;
}

@media only screen and (max-width: 414px) {
  #contentWrap .cardWrap {
    width: 90%;
    border: none;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 0;
  }
}

#contentWrap .cardWrap img {
  height: 250px;
}

@media only screen and (max-width: 414px) {
  #contentWrap .cardWrap img {
    height: 200px;
  }
}

#contentWrap .cardWrap .image {
  width: 100%;
  object-fit: cover;
}

#contentWrap .cardWrap .author {
  font-size: 20px;
}

@media only screen and (max-width: 414px) {
  #contentWrap .cardWrap .author {
    font-size: 15px;
  }
}

#contentWrap .cardWrap .link {
  font-size: 20px;
}

@media only screen and (max-width: 414px) {
  #contentWrap .cardWrap .link {
    font-size: 15px;
  }
}

#detailWrap {
  width: 75vw;
  display: flex;
  flex-direction: row;
  margin-top: 100px;
}

@media only screen and (max-width: 414px) {
  #detailWrap {
    justify-content: center;
    margin-top: 20px;
  }
}

#detailWrap #detailCard {
  width: 65%;
  margin-right: 15px;
}

@media only screen and (max-width: 414px) {
  #detailWrap #detailCard {
    margin-right: 0px;
    width: 100%;
  }
}

#detailWrap #detailCard #detailImage {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

@media only screen and (max-width: 414px) {
  #detailWrap #detailCard #detailImage {
    height: 200px;
  }
}

#detailWrap #listingWrap {
  width: 30%;
  margin-left: 15px;
}

@media only screen and (max-width: 414px) {
  #detailWrap #listingWrap {
    display: none;
  }
}

#detailWrap #listingWrap .detailImage {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

#usersWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  text-align: center;
}

#usersWrap .userWrap {
  padding-bottom: 20px;
  border-bottom: 2px solid lightgray;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#usersWrap .userWrap .infoWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

#usersWrap .userWrap .infoWrap .name {
  font-size: 30px;
  margin: 10px 0px;
}

#usersWrap .userWrap .infoWrap .joinDate {
  font-size: 12px;
  margin-bottom: 15px;
}

#usersWrap .userWrap .postCard {
  margin: 15px;
  width: 30%;
}

#usersWrap .userWrap .postCard .postDate {
  font-size: 12px;
}

#usersWrap .userWrap .postCard .listingImg {
  width: 100%;
  object-fit: cover;
}

#joined {
  font-size: 12px;
}

#userContentWrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#userContentWrap .userCard {
  width: 40%;
  margin: 20px;
}

#userContentWrap .userCard .detailPostDate {
  font-size: 12px;
}

#userContentWrap .userCard .detailImage {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
