body {
  display: flex;
  justify-content: center;
}

#superWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

#headerWrap {
  width: 100%;
  display: flex;
  flex-direction: row;
  border-top: 1px dotted gray;
  margin-bottom: 30px;
}

#headerWrap #logo {
  width: 60%;
  padding-right: 10px;
  border-right: 1px solid gray;
  margin: 5px 0px;
}

#headerWrap #headerText {
  width: 40%;
  padding-left: 20px;
  margin: 5px 0px;
}

#staticImage {
  margin-top: 30px;
}

#contentWrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-top: 60px;
}

#contentWrap .cardWrap {
  width: 30%;
}

#contentWrap .cardWrap img {
  height: 200px;
}

#contentWrap .cardWrap .image {
  width: 100%;
  object-fit: cover;
}
